.invoiceProductTableHeaderContainer {
  width: 100%;
}

.invoiceProductTableHeader {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  background-color: rgb(32, 40, 134);
  color: white;
}

.invoiceProductTableNotice {
  padding-top: 10px;
}

.invoiceProductTableRow,
.invoiceProductTableEditRow,
.invoiceProductTableAddRow {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  color: black;
  padding: 5px 0 5px 0;
}

.invoiceProductTableRow,
.invoiceProductTableEditRow {
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
}

.invoiceProductTableAddRow {
  background-color: rgb(231 231 231);
  padding: 10px 0px;
  margin-bottom: 20px;
}

#invoiceProduct {
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

#invoiceProductContainer {
  width: 100%;
}

#invoicePriceEdit,
#invoiceQuantityEdit,
#invoiceQuantity,
#invoicePrice,
#invoiceDiscount,
#invoiceDiscountEdit {
  padding: 0;
  text-align: center;
  border: none;
  background-color: rgb(227, 227, 227);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

#invoicePriceEdit:focus,
#invoiceQuantityEdit:focus,
#invoiceQuantity:focus,
#invoicePrice:focus,
#invoiceDiscount:focus,
#invoiceDiscountEdit:focus {
  background-color: rgb(206, 206, 206);
}

input {
  padding: 0;
}

.quantityDisplay,
.priceDisplay,
.discountDisplay {
  width: 90%;
  font-size: 1rem;
  background-color: rgb(227, 227, 227);
}

.invoiceDiscountEditContainer,
.invoiceQuantityEditContainer,
.invoicePriceEditContainer {
  width: 90%;
}

.quantityDisplay:hover,
.priceDisplay:hover,
.discountDisplay:hover,
#invoiceQuantity:hover,
#invoicePrice:hover,
#invoiceDiscount:hover {
  background-color: rgb(206, 206, 206);
}

#invoiceQuantity,
#invoicePrice,
#invoiceDiscount {
  background-color: white;
}

.invoiceProductAddContainer {
  display: flex;
  justify-content: center;
}

.invoiceProductAdd:hover {
  color: rgb(81, 112, 204);
  cursor: pointer;
}

.invoiceLink {
  color: rgb(22, 30, 119);
  text-decoration: underline;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.invoiceLink:hover {
  cursor: pointer;
}
