.invoiceProductTableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(32, 40, 134);
  color: white;
}

.invoiceProductTableBody {
}

.invoiceProductTableRow,
.invoiceProductTableEditRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  padding: 5px;
}

#invoicePriceEdit,
#invoiceQuantityEdit,
#invoiceQuantity,
#invoicePrice {
  text-align: center;
  border: none;
  background-color: rgb(193, 193, 193);
}
