.invoiceProductTableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.invoiceProductTableBody {
}

.invoiceProductTableRow,
.invoiceProductTableEditRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  padding: 5px;
}
