.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(239, 239, 239);
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 40, 134);
  padding-top: 50px;
  gap: 5px;
  padding-left: 15px;
}

.navButton {
  height: 30px;
  font-size: 1.4rem;
  padding: 8px 0px 8px 0px;
  font-style: none;
  border-radius: 7px 0 0 7px;
}

a.navButton {
  transition: transform 250ms;
}

a:link.navButton {
  color: rgb(237, 237, 237);
}

a:visited.navButton {
  color: rgb(237, 237, 237);
}

a:hover.navButton {
  color: rgb(81, 112, 204);
  transform: translateY(-2px);
}

.active {
  background-color: rgb(182, 185, 225);
}

.inactive {
  background-color: rgb(32, 40, 134);
}

.sidebarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 5px;
}

.dashboardInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardInfoPage {
  background-color: white;
  height: calc(100vh - 20px);
  width: calc(100vw - 110px);
}
