.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 99, 232);
  padding-top: 50px;
  gap: 5px;
}

.navButton {
  height: 30px;
  font-size: 1.4rem;
  padding: 5px;
}

.navButton:hover {
  background-color: rgb(196, 188, 188);
}
