.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 99, 232);
  gap: 5px;
  width: 90px;
}

.navButton {
  height: 30px;
}
