.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 40, 134);
  padding-top: 50px;
  padding-left: 10px;
  gap: 5px;
}

.navButton {
  height: 30px;
  font-size: 1.4rem;
  padding: 5px;
}

.navButton:hover {
  background-color: rgb(182, 185, 225);
}

.navInvoicesButton {
}
