.dashboardPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 40, 134);
  padding-top: 50px;
  gap: 5px;
  padding-left: 10px;
}

.navButton {
  height: 30px;
  font-size: 1.4rem;
  padding: 5px;
  font-style: none;
}

a.navButton {
  transition: transform 250ms;
}

a:link.navButton {
  color: rgb(237, 237, 237);
}

a:visited.navButton {
  color: rgb(237, 237, 237);
}

a:hover.navButton {
  color: rgb(81, 112, 204);
  transform: translateY(-2px);
}

.navInvoicesButton {
}

.active {
  background-color: rgb(182, 185, 225);
}

.inactive {
  background-color: rgb(32, 40, 134);
}

.sidebarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 5px;
}
