.popup-content {
  border-radius: 10px;
}

.modal {
}

.modalClose {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalHeader {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 10px 15px 10px;
}

.modalContent {
  text-align: center;
}

fieldset {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  color: rgb(71, 71, 71);
}

fieldset:focus-within {
  border-color: rgb(82, 91, 182);
  color: black;
}

legend {
  margin-left: -38%;
}

fieldset > input {
  margin: 0;
  width: 95%;
  height: 80%;
  border: none;
}

fieldset > input:focus {
  outline: none;
}
