.modalClose {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
