.popup-content {
  border-radius: 10px;
}

.invoice-popup-content {
  width: 60%;
}

.modal {
  padding: 30px 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.modal.invoice {
  width: 85%;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalHeader {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0px 10px 10px 10px;
}

.modalContent {
  text-align: center;
}

.numberValues {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.buyerInputRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.invoiceConstants,
.invoiceToFrom {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

#discountFieldset {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#invoiceDiscountInput {
  width: 5rem;
  font-size: 1rem;
}

.invoiceConstantValue {
  font-weight: 800;
  color: black;
}

#invoiceTaxRate {
  width: 3rem;
  font-size: 1rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 2px solid rgb(109, 109, 109);
  display: flex;
  justify-content: center;
  height: 2.5rem;
  color: rgb(109, 109, 109);
  margin-bottom: 20px;
  padding-bottom: 3px;
}

.invoiceFieldset {
  margin-bottom: 8px;
}

fieldset:focus-within {
  border-color: rgb(82, 91, 182);
  color: rgb(82, 91, 182);
}

legend {
  margin-left: -38%;
}

fieldset > input {
  margin: 0;
  width: 95%;
  height: 80%;
  border: none;
  text-align: center;
}

fieldset > select {
  margin: 0;
  width: 95%;
  height: 90%;
  border: none;
  text-align: center;
  font-size: 1.1rem;
}

fieldset > select:focus {
  outline: none;
}

fieldset > input:focus {
  outline: none;
}

.postActionButton {
  border: none;
  background-color: rgb(45, 54, 156);
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.postActionButton:hover {
  background-color: rgb(82, 91, 182);
  cursor: pointer;
}

.invoiceProducts {
  height: 100%;
  width: 100%;
  border-radius: 0;
  padding: 10px 0;
}
