#invoice {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#invoiceTitle {
  font-size: 3rem;
  padding: 0;
}

.disclaimer {
  font-weight: bold;
}

#invoiceHeader {
  display: flex;
  justify-content: space-between;
}

#invoiceMiscDetail {
  display: flex;
  justify-content: space-between;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
