#invoice {
  display: flex;
  flex-direction: column;
  padding: 50px 65px;
  font-size: 1.3rem;
}

#invoiceTitle {
  font-size: 3rem;
  padding: 0;
}

.disclaimer {
  font-weight: bold;
  padding-bottom: 3px;
}

#invoiceHeader {
  display: flex;
  justify-content: space-between;
}

#invoiceMiscDetail {
  display: flex;
  justify-content: space-between;
}

#invoiceSmallDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#invoiceProducts {
  border-top: 2px solid rgb(37, 37, 141);
  margin-top: 30px;
  padding-top: 10px;
  height: 400px;
}

#printInvoiceHead {
  border: none;
}

#printInvoiceBodytr > td {
  border: none;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
