#dashboardInfo {
  display: flex;
  flex-direction: column;
}

#overviewTitle {
  padding: 10px 30px;
  font-size: 1.1rem;
  display: flex;
}

#chartContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.chartCard {
  background-color: white;
  width: 20vw;
  height: 20rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px rgb(170, 170, 170);
}
