#dashboardInfo {
  display: flex;
  flex-direction: column;
}

#timeframeButtonContainer {
  padding: 10px 30px;
  font-size: 1.1rem;
  display: flex;
}

.timeframeButton {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: rgb(138, 168, 242);
  padding: 3px 13px;
}

.timeframeButton:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #2e7428;
  color: rgb(172, 193, 247);
  transition: transform 0.25s ease-out;
}

.timeframeButton:hover {
  transform: scaleX(1);
  cursor: pointer;
  background-color: rgb(77, 77, 77);
}

.timeframeButton:hover:after {
  transform: scaleX(1);
}

#chartContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  flex-wrap: wrap;
}

.chartCard {
  background-color: white;
  width: 45%;
  height: 20rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px rgb(170, 170, 170);
}
