#dashboardInfo {
  display: flex;
  flex-direction: column;
}

#timeframeButtonContainer {
  padding: 10px 30px;
  font-size: 1.1rem;
  display: flex;
}

#timeframeTitle {
  padding: 5px 20px;
}

.timeframeButton {
  display: inline-block;
  position: relative;
  color: rgb(106, 106, 106);
  padding: 5px 15px;
  border-bottom: 2px solid rgb(208, 208, 208);
}

.timeframeButton:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: rgb(54, 63, 158);
  transition: transform 0.25s ease-out;
}

.timeframeButton:hover {
  transform: scaleX(1);
  cursor: pointer;
  color: rgb(109, 145, 237);
}

.timeframeButton:hover:after {
  transform: scaleX(1);
}

.selectedtimeframeButton {
  color: rgb(109, 145, 237);
}

.selectedtimeframeButton:after {
  content: "";
  position: absolute;
  transform: scaleX(1);
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: rgb(54, 63, 158);
}

#chartContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  flex-wrap: wrap;
}

.chartCard {
  background-color: white;
  width: 45%;
  height: 20rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px rgb(170, 170, 170);
}
