.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 99, 232);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 400px;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

h2 {
  margin: 0px;
  padding: 0px;
  color: rgb(87, 99, 232);
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.errorContainer {
  color: red;
  margin: 10px;
}

.submitButton {
  color: white;
  background-color: rgb(87, 99, 232);
  border-radius: 15px;
  border: none;
  margin: 20px 0 0px 0;
  padding: 5px 0;
  font-size: 1.3rem;
}
.submitButton:hover {
  cursor: pointer;
  background-color: rgb(112, 122, 236);
}

#demoButton {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #3fb950;
}

#demoButton:hover {
}

.loginInput {
  border: none;
  color: rgb(71, 71, 71);
  border-bottom: 2px rgb(177, 177, 177) solid;
  font-size: 1.2rem;
}

.signupLink:hover {
  cursor: pointer;
}
