.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 99, 232);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 80%;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
}

.loginForm {
  display: flex;
  flex-direction: column;
}

h2 {
  color: rgb(87, 99, 232);
}

.submitButton {
  color: white;
  background-color: rgb(87, 99, 232);
}

.loginInput {
  background-color: rgb(227, 227, 227);
}
