#dashboardInfo {
  display: flex;
  flex-direction: column;
}

#overviewTitle {
  padding: 10px 30px;
  font-size: 1.3rem;
  border: 2px solid blue;
  border-radius: 8px;
}

#chartContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
