.invoiceProductTableHeaderContainer {
  width: 100%;
}

.invoiceProductTableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(32, 40, 134);
  color: white;
}

.invoiceProductTableNotice {
  padding-top: 10px;
}

.invoiceProductTableRow,
.invoiceProductTableEditRow,
.invoiceProductTableAddRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: black;
  padding: 5px 0 5px 0;
}

.invoiceProductTableRow,
.invoiceProductTableEditRow {
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
}

.invoiceProductTableAddRow {
  background-color: rgb(231 231 231);
  padding: 10px 0px;
  margin-bottom: 20px;
}

#invoiceProduct {
  border: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
}

#invoicePriceEdit,
#invoiceQuantityEdit,
#invoiceQuantity,
#invoicePrice {
  text-align: center;
  border: none;
  background-color: rgb(227, 227, 227);
  font-size: 1rem;
  width: 90%;
}

input {
  padding: 0;
}

.quantityDisplay,
.priceDisplay,
.invoiceQuantityEditContainer,
.invoicePriceEditContainer {
  width: 90%;
  font-size: 1rem;
  background-color: rgb(227, 227, 227);
}

.quantityDisplay:hover,
.priceDisplay:hover {
  background-color: rgb(206, 206, 206);
}

#invoiceQuantity,
#invoicePrice {
  background-color: white;
}

.invoiceProductAddContainer {
  display: flex;
  justify-content: center;
}

.invoiceProductAdd:hover {
  color: rgb(81, 112, 204);
  cursor: pointer;
}
